body {
  height: 100%;
  background-color: #1e1e2e;
  color: #cdd6f4;
}
hr {
  border: 3px solid #181825;
  border-radius: 3px;
  width: 100%;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  align-items: stretch;
  justify-content: stretch;
}
/* first section style  */
.firstSector {
  flex-grow: 2;
  /* height: 500px; */
  align-items: center;
  justify-content: center;
  display: flex;
  /* justify-content: space-between; */
  margin: 40px;
  /* background-color: #585b70; */
}
/* hi styles */
.hi {
  background: linear-gradient(
    66deg,
    rgba(49, 50, 68, 1) 48%,
    rgba(69, 71, 90, 1) 100%
  );
  border-radius: 20px;
  padding: 15px;
  margin-right: 100px;
  height: 250px;
  border: 5px solid #7287fd55;
}
.hi p {
  font-size: xx-large;
}
#hitit {
  font-size: 50px;
}
/* cards styles */
.cards {
  display: flex;
  width: 100%;
  flex-basis: 100%;
  gap: 20px;
  justify-content: space-evenly;
  margin: 20px;
}
/* card colors */
.card {
  border: 4px dashed #181825;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 22px;
  padding: 4px;
}
.card1 {
  border-color: #f38ba8;
}

.card2 {
  border-color: #f9e2af;
}

.card3 {
  border-color: #a6e3a1;
}

.card4 {
  border-color: #b485ec;
}
.icon-text {
  text-align: center;
  color: #bac2de;
}
#cards-title {
  margin-left: 15px;
  border: 4px dotted #181825;
  border-radius: 20px;
  padding: 4px;
  max-width: 150px;
}
/* quote styles */
.quote {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.quotepng {
  height: 50px;
  margin-left: 10px;
}
/* Header styles */
.header {
  overflow: hidden;
  background-color: #45475a;
  padding: 20px 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

/* Style the header links */
.header a {
  float: left;
  color: #e1e4fd;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #74c7ec;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
/* footer styles  */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #11111b;
  color: #a6adc8;
  text-align: center;
}
/* the contact page  */
.cat {
  width: 300px;
  margin-top: 30px;
  /* background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%); */
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.top {
  text-align: center;
}
.centered {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../landing-page-test/icons/1544x1544_circle.png);
  font-size: xx-large;
}
.contact-cont {
  display: flex;
}

.location {
  width: 50%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 20px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #69a2fd;
  color: white;
}
.fa-instagram {
  background: #aa76eb;
  color: white;
}
.fa-reddit {
  background: #fd9b5e;
  color: white;
}
.accounts {
  display: flex;
  flex-direction: column;
}
.accounts p {
  text-align: center;
}
.conts {
  display: flex;
}
